@use "./variables" as *;
@use "./mixins" as *;

/*Start Global Rules*/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: $screen_padding;
  padding-right: $screen_padding;
  margin-left: auto;
  margin-right: auto;
  @include break_point("small") {
    width: 750px;
  }
  @include break_point("medium") {
    width: 970px;
  }
  @include break_point("large") {
    width: 1170px;
  }
}
.section-title {
  @include text("section-title");
  transition: $main_transition;
  position: relative;
  z-index: 100;
  &::before,
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $main_color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: -$content_gap;
  }
  &::after {
    right: -$content_gap;
  }
  &:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
    &::before {
      z-index: -1;
      animation: left-move 0.5s linear forwards;
    }
    &::after {
      z-index: -1;
      animation: right-move 0.5s linear forwards;
    }
  }
}
@include KeyF("left-move") {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}
@include KeyF("right-move") {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 60%;
    height: 100%;
  }
}
/*End Global Rules*/
