@use "./variables" as *;
@use "./mixins" as *;

/*Start Global Rules*/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: $screen_padding;
  padding-right: $screen_padding;
  margin-left: auto;
  margin-right: auto;
  @include break_point("small") {
    width: 750px;
  }
  @include break_point("medium") {
    width: 970px;
  }
  @include break_point("large") {
    width: 1170px;
  }
}
.section-title {
  @include text("section-title");
  transition: $main_transition;
  position: relative;
  z-index: 100;
  &::before,
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $main_color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: -$content_gap;
  }
  &::after {
    right: -$content_gap;
  }
  &:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
    &::before {
      z-index: -1;
      animation: left-move 0.5s linear forwards;
    }
    &::after {
      z-index: -1;
      animation: right-move 0.5s linear forwards;
    }
  }
}
.dots {
  background-image: url(../imgs/dots.png);
  opacity: 0.25;
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  &.left {
    left: 0;
    bottom: 100px;
  }
  &.right {
    right: 0;
    top: 100px;
  }
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 10;
  height: 30px;
  background-size: 30px 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
}
/*End Global Rules*/
