@use "./variables" as *;
@use "./mixins" as *;
/*Start Header */
header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  @include flex_box(".container") {
    position: relative;
    @include center(".logo") {
      @include text("logo");
    }
    .nav {
      display: flex;
      > li {
        @include center("> a") {
          @include text("nav") {
            transition: $main_transition;
            position: relative;
            &::before {
              content: "";
              width: 0;
              height: 4px;
              background-color: $main_color;
              position: absolute;
              top: 0;
              left: 0;
              transition: $main_transition;
            }
            &:hover {
              color: $main_color;
              background-color: #fafafa;
              &::before {
                width: 100%;
              }
            }
          }
        }
        @include center(".mega-menu") {
          gap: $content_gap;
          background-color: white;
          border-bottom: 3px solid $main_color;
          width: 100%;
          padding: $screen_padding;
          position: absolute;
          left: 0;
          top: calc(100% + 50px);
          z-index: -1;
          opacity: 0;
          transition: opacity $main_transition, top $main_transition;
          img {
            max-width: 100%;
          }
          .links {
            min-width: 250px;
            flex: 1;
            li:not(:last-child) {
              border-bottom: 1px solid #e9e6e6;
            }
            a {
              display: block;
              padding: 15px;
              @include font($main_color, $font_size * 0.9, bold, capitalize);
              position: relative;
              &::before {
                content: "";
                background-color: #fafafa;
                width: 0%;
                height: 100%;
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                transition: $main_transition;
              }
              &:hover::before {
                width: 100%;
              }
            }
            i {
              margin-right: 10px;
            }
          }
          @media (max-width: 991px) {
            .image {
              display: none;
            }
          }
          @include break_point("mobile") {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
            .links {
              width: 100%;
              &:first-of-type li:last-child {
                border-bottom: 1px solid #e9e6e6;
              }
            }
          }
        }
        &:hover .mega-menu {
          top: calc(100% + 1px);
          z-index: 100;
          opacity: 1;
        }
      }
    }
  }
}
/*End Header */
