// colors
$main_color: #2196f3;
$alt_main_color: #1787e0;
$text_color: black;
$p_color: #777;
// paddings
$screen_padding: 20px;
// gaps
$header_height: 72px;
$section_gap: 60px;
$content_gap: 30px;
$text_gap: 15px;
// font
$font_size: 20px;
$main_transition: 0.3s;
